# {{ ansible_managed }}

init_config: null

instances:
  - cluster_name: ceph
    collect_usage_metrics: True
    collect_stats_metrics: True
    collect_mon_metrics: True
    collect_osd_metrics: True
    collect_pool_metrics: True
