# {{ ansible_managed }}

init_config: null

instances:
  - built_by: System
    device_blacklist_re:  .*tracefs.*|.*lxcfs.*
    ignore_filesystem_types: cgroup,configfs,debugfs,devpts,devtmpfs,fusectl,hugetlbfs,proc,pstore,rpc_pipefs,securityfs,sysfs,tmpfs,udevfs,iso9660,nsfs,lxcfs
    name: disk_stats
    send_rollup_stats: true
{% if inventory_hostname in groups['all_containers'] %}
    send_io_stats: false  # Enabling it throws RuntimeError("couldn't find any physical disk") 
    dimensions:
      node_type: container
      physical_host: {{ physical_host }}
{% elif inventory_hostname in groups['hosts'] %}
    dimensions:
      node_type: physical_host
{% endif %}

