# {{ ansible_managed }}

# To enable the monasca HAProxy plugin, you must first set
# 'haproxy_stats_enabled: True' and run the haproxy playbook

init_config: null

instances:
  - url: http://{{ haproxy_stats_bind_address | default('127.0.0.1') }}:{{ haproxy_stats_port | default('1936')}}
    username: {{ haproxy_username | default('admin') }}
    password: {{ haproxy_stats_password }}
    collect_service_stats_only: False
    collect_aggregates_only: False
    collect_status_metrics: True
    dimensions:
      component: haproxy
      service: infra
