# {{ ansible_managed }}

init_config:
  username: "{{ nova_service_user_name }}"
  password: "{{ nova_service_password }}"
  project_name: "{{ nova_service_project_name }}"
  user_domain_name: "{{ nova_service_user_domain_id }}"
  project_domain_name: "{{ nova_service_project_domain_id }}"
  auth_url: "{{ keystone_service_adminuri }}"
  region_name: "{{ nova_service_region }}"
  endpoint_type: "admin"
  cache_dir: "/dev/shm"
  nova_refresh: 3600
  metadata:
      - scale_group
      - vm_name
      - tenant_name
  customer_metadata:
      - scale_group
  vm_probation: 180
  alive_only: false
  network_use_bits: false
  vm_cpu_check_enable: true
  vm_disks_check_enable: true
  vm_network_check_enable: true

instances:
  - {}
