# {{ ansible_managed }}

init_config: null


instances:
{% for host in groups['galera_all'] %}
  - server: {{ host }}
    user: {{ galera_monitoring_user }}
    password: {{ galera_monitoring_user_password | default('')}}
    options:
      galera_cluster: 1
    dimensions:
      component: mysql
      service: infra

{% endfor -%}
