# {{ ansible_managed }}

init_config: null


instances:
{% if security_ntp_servers is defined %}
{% for server in security_ntp_servers  %}
  - host: {{ server }}
    dimensions:
      service: infra
      component: chrony
{% endfor %}
{% else %}
  - host: 0.north-america.pool.ntp.org
    dimensions:
      service: infra
      component: chrony

  - host: 1.north-america.pool.ntp.org
    dimensions:
      service: infra
      component: chrony

  - host: 2.north-america.pool.ntp.org
    dimensions:
      service: infra
      component: chrony

  - host: 3.north-america.pool.ntp.org
    dimensions:
      service: infra
      component: chrony
{% endif %}
