# {{ ansible_managed }}

init_config: null


instances:
  - rabbitmq_api_url: http://{{ internal_lb_vip_address }}:15672/api/
    rabbitmq_user: {{ rabbitmq_monitoring_userid|default('monitoring') }}
    rabbitmq_pass: {{ rabbitmq_monitoring_password }}
    dimensions:
      component: rabbitmq
      service: infra
    exchanges:
      - ceilometer
      - cinder
      - designate
      - glance
      - heat
      - keystone
      - magnum
      - nova
      - neutron
      - sahara
    nodes:
{% for host in groups['rabbitmq_all'] %}
      - rabbit@{{ host }}
{% endfor -%}
