# {{ ansible_managed }}

init_config: null

instances:
   - name: {{ ansible_hostname }}
     host: {{ ansible_hostname }}
     port: 2181
     timeout: 3
     dimensions:
       component: zookeeper
       service: infra
