# {{ ansible_managed }}

Api:
  amplifier: 0
  backlog_send_rate: 1000
  ca_file: null
  endpoint_type: null
  insecure: false
  keystone_url: {{ keystone_service_adminurl }}
  max_buffer_size: 1000
  max_measurement_buffer_size: -1
  password: {{ monasca_agent_password }}
  project_domain_id: null
  project_domain_name: {{ monasca_service_domain_name | default("Default") }}
  project_id: null
  project_name: {{ monasca_agent_project_name }}
  region_name: {{ monasca_service_region }}
  service_type: monitoring
  url: {{ monasca_service_adminurl }}
  user_domain_id: null
  user_domain_name: {{ monasca_service_domain_name | default("Default") }}
  username: {{ monasca_agent_user_name }}
Logging:
  collector_log_file: /var/log/monasca/agent/collector.log
  forwarder_log_file: /var/log/monasca/agent/forwarder.log
  log_level: {{ monasca_agent_log_level }}
  statsd_log_file: /var/log/monasca/agent/statsd.log
Main:
  check_freq: {{ monasca_agent_check_frequency }}
  collector_restart_interval: 24
  dimensions:
    service: monitoring
  hostname: {{ ansible_hostname }}
  num_collector_threads: 1
  pool_full_max_retries: 4
  sub_collection_warn: 6
Statsd:
  monasca_statsd_port: 8125

