#!/bin/sh

'{{ monasca_agent_bin }}/monasca-setup' \
    -u '{{ monasca_agent_user_name }}' \
    -p '{{ monasca_agent_password }}' \
    -s 'monitoring' \
    --keystone_url '{{ keystone_service_adminurl }}' \
    --project_name '{{ monasca_agent_project_name }}' \
    --monasca_url '{{ monasca_service_adminurl }}' \
    --check_frequency '{{ monasca_agent_check_frequency }}' \
    --log_level '{{ monasca_agent_log_level }}' \
    --user '{{ monasca_agent_system_user_name }}' \
    --install_plugins_only
    --system_only
